#code {
  font-size: 32px;
  margin-top: 225px;
}

#canvas {
  display: none;
}

.active {
  background: white;
  border: 1px solid #d3d3d3;
  margin-top: 40px;
}

.correct {
  color: #4BB74C;
}

.arrows, .title {
  display: inline-block;
}

.arrow-0 {
  margin-left: 10px;
}